// Подключаем файл с переменными
@import '../../assets/styles/utils/variables.scss';

// Стили
.colors {
    width: 24.7%;

    &__theme-color:not(:first-child) {
        margin: 20px 0 0 0;
    }
}

@media (max-width: $screen-sm-max) {
    .colors {
        width: 100%;
    }
}