.colors-i-types {

    &__ui-logo {
        margin: 30px 0 0 30px;
    }

    &__container {}

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin: 66px 0 0 0;
        padding: 0 150px;
    }

    &__colors {}
}

@media (max-width: 1440px) {
    .colors-i-types {
        &__wrapper {

            padding: 0 calc(20px + (150 - 20) * ((100vh - 320px) / (1440 - 320)));
        }
    }
}