//- Подключаем главный шаблон
extends ../../components/layout/main 

//- Подключаем компоненты
block components
    //- компонент блок с элементами цветов и типографики
    include ../../components/colors-i-types/colors-i-types


//- Подключаем переменные
append config
    - var title = "UI kit"
    - var description = "Стили компонентов сайта"
   
    
//- Добавляем уникальный контент
block content
    +blockColorsITypes()