//- Подключаем главный шаблон
extends ../../components/layout/main 

append mixins
    include ../../components/colors/colors

append config
    - var title = "UI kit"
    

block content
    section(class="colors-i-types")
        include ../../components/logo/logo
        div(class="container")
            +blockColors("colors-i-types")