// Подключаем файлы с переменными и миксинами
@import '../../assets/styles/utils/variables.scss';
@import '../../assets/styles/utils/mixins.scss';

// Стили
.theme-type {
    display: flex;

    &__tag {
        width: 30px;
        margin: 0 30px 0 0;
        text-align: right;
        color: $mainThemeColor25;

        &-h1 {
            @include respProperty("font-size", 22, 24);
            line-height: 120%;
        }

        &-h2 {
            @include respProperty("font-size", 17, 19);
            line-height: 120%;
        }

        &-h3 {
            @include respProperty("font-size", 11, 12);
            line-height: 120%;
        }

        &-body {
            @include respProperty("font-size", 13, 14);
            line-height: 170%;
        }
    }

    &__text {
        color: $mainThemeColor100;
        font-weight: bold;

        &-h1 {
            @include respProperty("font-size", 22, 24);
            line-height: 120%;
        }

        &-h2 {
            @include respProperty("font-size", 17, 19);
            line-height: 120%;
        }

        &-h3 {
            text-transform: uppercase;
            @include respProperty("font-size", 11, 12);
            line-height: 120%;
        }

        &-body {
            color: $mainThemeColor75;
            @include respProperty("font-size", 13, 14);
            line-height: 170%;
            font-weight: normal;
        }
    }
}