//- Компонент цвета
mixin themeColor(obj, parentClass)
    div(class=["theme-color", parentClass+"__theme-color"])
        div(class=["theme-color__img", "theme-color__img-"+obj.class])
        
        div(class="theme-color__description")
            p(class="theme-color__name")
                span= obj.name

            p(class="theme-color__value")= obj.value