//Подключаем файлы с переменными и миксинами
@import '../../assets/styles/utils/variables.scss';
@import '../../assets/styles/utils/mixins.scss';

// Стили
.theme-color {
    display: flex;

    &__img {
        min-width: 70px;
        max-width: 70px;
        min-height: 70px;
        max-height: 70px;
        border-radius: 6px;

        &-dark-shade-100 {
            background-color: $mainThemeColor100;
        }

        &-dark-shade-75 {
            background-color: $mainThemeColor75;
        }

        &-dark-shade-50 {
            background-color: $mainThemeColor50;
        }

        &-dark-shade-25 {
            background-color: $mainThemeColor25;
        }

        &-dark-shade-5 {
            background-color: $mainThemeColor5;
        }

        &-purple {
            background-color: $secondThemeColor;
        }

        &-green {
            background-color: $thirdThemeColor;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 0 40px;
    }

    &__name {
        @include respProperty("font-size", 17, 19);
        font-weight: bold;
        line-height: 150%;
  
        span {
            color: $mainThemeColor100;
        }
    }

    &__value {
        @include respProperty("font-size", 17, 19);
        line-height: 150%;
    }
}