$fontColor: #1b1;
@import "./utils/fonts.scss";
@import "./utils/variables.scss";
@import "./utils/normalize.scss";

*,
*:before, 
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}


body {
    font-family: $mainFont;
    
}

.container {
    max-width: 1920px;
    padding: 0 150px;
}

.title {
    color: $fontColor;
}